.about-Main {
    width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 200px 0px rgba(232, 249, 247, 0.2);
  background-color: var(--Main-Color-White, #fff);
  padding: 80px 60px;
}
@media (max-width: 991px) {
  .about-Main {
    padding: 0 20px;
  }
}
.about-Section {
  margin-top: 20px;
  width: 100%;
  max-width: 1120px;
}
@media (max-width: 991px) {
  .about-Section {
    max-width: 100%;
  }
}
.about-section2 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .about-section2 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.left-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 39%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .left-column {
    width: 100%;
  }
}
.left-column-child {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  aspect-ratio: 0.83;
  flex-grow: 1;
  color: var(--Main-Color-Secondary, #100a55);
  font-weight: 700;
  padding: 40px 40px 80px;
}
@media (max-width: 991px) {
  .left-column-child {
    margin-top: 40px;
    padding: 0 20px;
  }
}
.about-img {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  /* object-fit: cover;
  object-position: center; */
  border-radius: 8px;
  opacity: 0.5;
}
.childHeading1 {
  position: relative;
  letter-spacing: -0.32px;
  font: 500 32px/40px Plus Jakarta Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.childHeading2 {
  position: relative;
  margin-top: 16px;
  font: 500 16px/26px Plus Jakarta Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
    color: #000;
}
.childHeading3 {
  position: relative;
  justify-content: center;
  border-radius: 8px;
  background-color: var(--Main-Color-Secondary, #100a55);
  margin-top: 24px;
  /* color: var(--Main-Color-White, #fff); */
  color: #fff;
  text-align: center;
  padding: 10px 16px;
  font: 14px/140% Plus Jakarta Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.browse{
  color: #fff !important;
}
.column-right {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 61%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-right {
    width: 100%;
  }
}
.column-right-child{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
@media (max-width: 991px) {
  .column-right-child {
    max-width: 100%;
    margin-top: 40px;
  }
}

@media (max-width: 991px) {
  .child-1 {
    max-width: 100%;
  }
}
.child-1-2 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .child-1-2{
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.child-1-3 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .child-1-3 {
    width: 100%;
  }
}
.child-1-4 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
@media (max-width: 991px) {
  .child-1-4 {
    margin-top: 24px;
  }
}
.child-1-4-img {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 64px;
}
.child-1-5 {
  color: var(--Main-Color-Black, #000929);
  letter-spacing: -0.24px;
  margin-top: 24px;
  font: 700 24px/150% Plus Jakarta Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.child-1-6 {
  color: var(--Greyscale-Grey-600, #4d5461);
  margin-top: 16px;
  font: 400 16px/26px Plus Jakarta Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.child-1-2-1 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .child-1-2-1 {
    width: 100%;
  }
}
.child-1-2-2 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
@media (max-width: 991px) {
  .child-1-2-2 {
    margin-top: 24px;
  }
}
.child-1-2-2-img {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 64px;
}
.child-1-2-3 {
  color: var(--Main-Color-Black, #000929);
  letter-spacing: -0.24px;
  margin-top: 24px;
  font: 700 24px/150% Plus Jakarta Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.child-1-2-4 {
  color: var(--Greyscale-Grey-600, #4d5461);
  margin-top: 16px;
  font: 400 16px/26px Plus Jakarta Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.child-2 {
  margin-top: 64px;
}
@media (max-width: 991px) {
  .child-2 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.child-2-1 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .child-2-1 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.child-2-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .child-2-2 {
    width: 100%;
  }
}
.child-2-3 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
@media (max-width: 991px) {
  .child-2-3 {
    margin-top: 24px;
  }
}
.child-2-4-img {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 64px;
}
.child-2-5 {
  color: var(--Main-Color-Black, #000929);
  letter-spacing: -0.24px;
  margin-top: 24px;
  font: 700 24px/150% Plus Jakarta Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.child-2-6 {
  color: var(--Greyscale-Grey-600, #4d5461);
  margin-top: 16px;
  font: 400 16px/26px Plus Jakarta Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.child-2-7 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .child-2-7 {
    width: 100%;
  }
}
.child-2-8 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
@media (max-width: 991px) {
  .child-2-8 {
    margin-top: 24px;
  }
}
.child-2-9-img {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 64px;
}
.child-2-10 {
  color: var(--Main-Color-Black, #000929);
  letter-spacing: -0.24px;
  margin-top: 24px;
  font: 700 24px/150% Plus Jakarta Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.child-2-11 {
  color: var(--Greyscale-Grey-600, #4d5461);
  margin-top: 16px;
  font: 400 16px/26px Plus Jakarta Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
